<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="cs/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
<style>
  body {
    background-image: url(images/aboutus.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
</style>
</head>

<body class=" bg-dark">
    <div class="navbar w-100">
        <nav class="navbar navbar-expand-lg navbar-dark w-100" style="z-index: 2;">
            <div class="container-fluid nav-gap">
                <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Home</a>
                        <a class="nav-link" href="/about">About</a>
                        <a class="nav-link " aria-current="page" href="/signUp">SignUp</a>
                        <a class="nav-link" href="/login">LogIn</a>
                        <a class="nav-link" href="/user">My Dashboard</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="about-image top-50 m-5 d-md-flex">
        <img class="" width="500px" src="images/about-us.png" alt="">
        <h1 class="text-danger" style="font-weight: bold;">About Us</h1>
         <p class=" text-light p-5">Welcome to our new startup! We are a investment company that focuses on using referral
            codes to help our customers earn coins and rewards for their investment. Our goal is to make life easy and
            fun for everyone.

            We are excited to announce our upcoming launch and can't wait to share our services with you. Our team has
            been working hard to create a platform that is user-friendly and innovative, and we believe we have achieved
            just that.

            Our reach and achievements will be updated soon as we get closer to our launch date. We are confident that
            with our dedication and hard work, we will be able to make a positivity .

            Thank you for choosing to embark on this exciting journey with us. We promise to make it worth your while.
            Stay tuned for updates and more information about our launch.</p>
    </div>


    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>