<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="cs/style.css">
    <script async src="https://js.stripe.com/v3/buy-button.js"></script>
  </head>
  <body>
 <div id="payment-form">
  <h3>Make a Payment</h3>
  <stripe-buy-button
    buy-button-id="buy_btn_1N81eASAT3NUFt3MpIkEmxLO"
    publishable-key="pk_test_51N7zKOSAT3NUFt3Mk15ZiqnrDvH9zrsw4qs0dc7tfpHG7WN4vweS2MPNKcXkTm7hsWp4D5gflGiMFsSsB9a2Lyg400yIBi6iBZ"
  >
  </stripe-buy-button>
  <div id="payment-result"><!-- Payment result will be displayed here --></div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
  // Initialize Stripe.js
  const stripe = Stripe('pk_test_51N7zKOSAT3NUFt3Mk15ZiqnrDvH9zrsw4qs0dc7tfpHG7WN4vweS2MPNKcXkTm7hsWp4D5gflGiMFsSsB9a2Lyg400yIBi6iBZ');

  // Handle the payment result
  const paymentResult = document.getElementById('payment-result');
  stripe.elements().on('stripe-buy-button:result', function (event) {
    if (event.error) {
      // Display error message to the user
      paymentResult.textContent = event.error.message;
    } else {
      // Payment succeeded, you can perform additional actions here
      paymentResult.textContent = 'Payment successful!';
    }
  });
</script>
  </body>
</html>