<!DOCTYPE html>
<html>

<head>
  <title>zblack-Payment Form</title>
  <link rel="stylesheet" href="cs/style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body class=" bg-dark w-auto m-auto">
  
<div class="navbar position-absolute w-100">
  <nav class="navbar navbar-expand-lg navbar-dark w-100" style="z-index: 2;">
    <div class="container-fluid nav-gap">
      <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/about">About</a>
          <a class="nav-link " aria-current="page" href="/signUp">SignUp</a>
          <a class="nav-link" href="/login">LogIn</a>
          <a class="nav-link" href="/user">My Dashboard</a>
        </div>
      </div>
    </div>
  </nav>
</div>
  <div class=" d-flex flex-column justify-content-center align-items-center position-absolute " style="top: 30%;">
    <p class="text-light text-center" style="font-size: 20px; width: 80%;">Our package offers lifetime access to our service for just <span class=" text-danger">200</span> rupees. Plus, users can earn coins by referring
      others to our platform - they'll get 20 coins for each new user, and an additional 10 coins for every new user
      referred by their own referrals. These coins can be redeemed for additional rewards or features, making it even
      more valuable to be a part of our community.

      With our referral program, users can easily share our package with their friends and family, earning valuable
      coins in the process. It's a win-win situation - our users get lifetime access to our service, and they can earn
      rewards simply by spreading the word to others.</p>

    <!-- <div class="razorpay-embed-btn text-center" data-url="https://pages.razorpay.com/pl_LlfIEMJyNmAZpU/view" data-text="Pay Now"
      data-color="#F45050" data-size="large" onclick="makePayment()">
      <script>
        (function () {
          var d = document; var x = !d.getElementById('razorpay-embed-btn-js')
          if (x) {
            var s = d.createElement('script'); s.defer = !0; s.id = 'razorpay-embed-btn-js';
            s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js'; d.body.appendChild(s);
          } else {
            var rzp = window['__rzp__'];
            rzp && rzp.init && rzp.init()
          }
        })();
      </script>
    </div> -->
    <div class="payimg text-center">
      <img width="400px" height="600px" src="images/paytmScanner.jpg" alt="">
      <p class="text-white mt-3">If anyone want to pay on other Plateform: <span class=" text-danger">9166515719</span> Pay on this numbre.</p>
    </div>
  </div>

  <!-- <script>
    function makePayment() {
      const options = {
        key: 'YOUR_RAZORPAY_KEY',
        amount: 1000,
        currency: 'INR',
        name: 'zblack',
        description: 'Get you Package',
        handler: function (response) {
          const paymentData = {
            razorpay_order_id: response.razorpay_order_id,
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_signature: response.razorpay_signature,
            amount: 1000,
            currency: 'INR',
            name: 'zblack',
            email: 'zblack9521@gmail.com',
            contact: '9521505117'
          };

          // Make an AJAX request to your server to save payment data
          const xhr = new XMLHttpRequest();
          xhr.open('POST', '/api/payment');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
              console.log(xhr.responseText);
            }
          };
          xhr.send(JSON.stringify(paymentData));
        },
        prefill: {
          name: 'zblack',
          email: 'zblack9521@gmail.com',
          contact: '9521505117'
        }
      };
      const rzp = new Razorpay(options);
      rzp.open();
    }
  </script> -->
</body>

</html>