<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="cs/style.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<style>
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/forgotpassword-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px); /* Apply a blur effect with a radius of 5 pixels */
  z-index: -1;
}


  .btn {
    background-color: #98464e;
  }

  .btn:hover {
    background-color: #c82333;
    border-color: #c82333;
  }
</style>

<body>
  
    <div class="container mt-4 w-75 d-flex flex-column justify-content-center p-5 rounded-4 mt-5">
      <div id="flashSuccessMessage" class="alert alert-success" style="display: none;"></div>
      <div id="flashErrorMessage" class="alert alert-danger" style="display: none;"></div>

      <h1 class="mt-5 text-white text-center">Forgot Password</h1>
      <form id="forgotPasswordForm" class="mt-4 w-50 m-auto">
        <div class="mb-3">
          <label for="email" class="form-label fs-4">Your email:</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <button type="submit" class="btn text-white">Reset Password</button>
      </form>
    </div>
  

  <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../jq/jquery.js"></script>

  <script>

document.addEventListener('DOMContentLoaded', function () {
  var flashErrorMessage = document.getElementById('flashErrorMessage');
  var flashSuccessMessage = document.getElementById('flashSuccessMessage');

  if (flashErrorMessage) {
    setTimeout(function () {
      flashErrorMessage.style.display = 'none';
    }, 4000); // Hide error message after 4 seconds
  }

  if (flashSuccessMessage) {
    setTimeout(function () {
      flashSuccessMessage.style.display = 'none';
    }, 4000); // Hide success message after 4 seconds
  }

  var forgotPasswordForm = document.getElementById('forgotPasswordForm');
  if (forgotPasswordForm) {
    forgotPasswordForm.addEventListener('submit', function (e) {
      e.preventDefault();

      // Retrieve the form data
      var email = document.getElementById('email').value;

      // Send an AJAX request to the server
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/forgotpassword', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status === 200) {
          // Password reset instructions sent successfully
          var response = JSON.parse(xhr.responseText);
          if (flashSuccessMessage) {
            flashSuccessMessage.innerHTML = response.message;
            flashSuccessMessage.style.display = 'block';
            setTimeout(function () {
              flashSuccessMessage.style.display = 'none';
              window.location.href = '/'; // Redirect to the home page
            }, 2000); // Display the message for 2 seconds and then redirect
          }
        } else {
          // Failed to process password reset request
          if (flashErrorMessage) {
            flashErrorMessage.innerHTML = "We can't find this ID";
            flashErrorMessage.style.display = 'block';
            setTimeout(function () {
              flashErrorMessage.style.display = 'none';
            }, 2000); // Hide error message after 2 seconds
          }
        }
      };
      xhr.onerror = function () {
        // Failed to process password reset request
        if (flashErrorMessage) {
          flashErrorMessage.innerHTML = 'Failed to process password reset request';
          flashErrorMessage.style.display = 'block';
          setTimeout(function () {
            flashErrorMessage.style.display = 'none';
          }, 2000); // Hide error message after 2 seconds
        }
      };
      xhr.send(JSON.stringify({ email: email }));
    });
  }
});


  </script>


</body>

</html>