<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="cs/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<style>
     body {
    background-image: url(images/forgotpassword-bg.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
    .btn{
    background-color: #98464e;
  }
  .btn:hover{
      background-color: #c82333;
      border-color: #c82333;
    }
</style>
<body>
    <div class="container mt-4 w-75 d-flex flex-column justify-content-center p-5 rounded-4 mt-5">
<div id="flashSuccessMessage" class="alert alert-success" style="display: none;"></div>

<div id="flashErrorMessage" class="alert alert-danger" style="display: none;"></div>

        <h1 class="mt-5 text-white text-center">Forgot Password</h1>
        <form id="forgotPasswordForm" action="/forgot-password" class="mt-4 w-50 m-auto text-white">
            <div class="mb-3">
                <label for="mobileNumber" class="form-label fs-4">Mobile Number:</label>
                <input type="text" id="mobileNumber" name="mobileNumber" class="form-control" required>
            </div>

            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>

    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../jq/jquery.js"></script>
    <script src="js/passwrod-change.js"></script>


</body>

</html>