@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@300&display=swap');
body{
    font-family: 'Lato', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important;
}
.nav-link{
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;
    color: aqua;
}
.navbar .nav-link {
    font-size: 17px !important;
    color: #FF6969 !important;
}
.navbar .nav-link:hover::after{
    content: " ";
    height: 2px;
    width: 100%;
    background-color: #ff5d1b;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar .active::after{
    content: " ";
    height: 2px;
    width: 100%;
    background-color: #ff5d1b;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-gap{
    column-gap: 30%;
}
nav{
    width: 80vw;
    margin-left: 10%;
}
.navbar-brand img{
    width:200px;
}

.signupForm{
    margin-top: 30px;
    border-radius: 12px;
    padding: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
 margin: 0; 
}

.counter{
    color: #f27f21;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 190px;
    /* width: 190px; */
    padding: 30px 25px 25px;
    margin: 0 auto;
    border: 3px solid #f27f21;
    border-radius: 20px 20px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #f3f3f3;
    border-radius: 20px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 100px;
    height: 100px;
    border: 15px solid #f27f21;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
    box-shadow: none;
    top: auto;
    left: -10px;
    bottom: -10px;
    right: auto;
}
.counter .counter-icon{
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 20px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
}
.counter.blue{
    color: #4accdb;
    border-color: #4accdb;
}
.counter.blue:after{
    border-bottom-color: #4accdb;
    border-left-color: #4accdb;
}
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}
.pricing-wrapper.active {
    border-top: 1px solid #e50a25;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    padding-bottom: 60px;
    margin-top: -58px;
}
.pricing-wrapper {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 50px;
}


.pb-50 {
    padding-bottom: 50px;
}

.pt-125 {
    padding-top: 125px;
}
.mb-80 {
    margin-bottom: 80px;
}
.features-03-icon {
    float: left;
    margin-right: 30px;
}
.pb-100 {
    padding-bottom: 100px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

.socialMediaIcon{
    width: 40px;
    margin: 8px;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.bankDetailsButton,
.contactUsButton,
.withdrawalHistoryButton,
.withdrawalFormButton,
.showDetailButton,
.bankDetailButton {
    /* Add your other button styles here */
    border-bottom: 2px solid transparent;
    background-image: linear-gradient(to top, #b9542f, transparent);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    transition: background-size 1.5s;
}

.bankDetailsButton:hover,
.contactUsButton:hover,
.withdrawalHistoryButton:hover,
.withdrawalFormButton:hover,
.showDetailButton:hover,
.bankDetailButton:hover {
    background-size: 100% 80%;
    cursor: pointer;
}



@media screen and (max-width:990px){
    .navbar-brand img{
        width:90px;
    }
}


/* For Desktop View */
@media screen and (min-width: 1024px) {
    .bankDetails{
        width: 80%;
    }
    #menu, .menuText, .userID{
        font-size: 19px !important;
    }
    .bankDetails{
        margin-left:70px;
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
	and (max-device-width: 1024px) {
        .bankDetails{
            width: 80%;
        }
        .bankDetailsButton, 
        .contactUsButton, 
        .withdrawalHistoryButton, 
        .withdrawalFormButton, 
        .showDetailButton, 
        .bankDetailButton a{
            font-size: 10px;
        }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
	and (orientation: portrait) {
	#menu, .menuText, .userID{
        font-size: 12px !important;
    }
    .bankDetails{
        width: 100%;
        margin: 0;
    }
    .bankDetailsButton, 
    .contactUsButton, 
    .withdrawalHistoryButton, 
    .withdrawalFormButton, 
    .showDetailButton, 
    .bankDetailButton a{
        font-size: 10px;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
	and (orientation: landscape) {
        .bankDetailsButton, 
        .contactUsButton, 
        .withdrawalHistoryButton, 
        .withdrawalFormButton, 
        .showDetailButton, 
        .bankDetailButton a{
            font-size: 10px;
        }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
	and (max-device-width: 640px) {
        .bankDetailsButton, 
        .contactUsButton, 
        .withdrawalHistoryButton, 
        .withdrawalFormButton, 
        .showDetailButton, 
        .bankDetailButton a{
            font-size: 10px;
        }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {
        .bankDetailsButton, 
        .contactUsButton, 
        .withdrawalHistoryButton, 
        .withdrawalFormButton, 
        .showDetailButton, 
        .bankDetailButton a{
            font-size: 10px;
        }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
	and (device-width: 320px)
	and (-webkit-min-device-pixel-ratio: 2) {

}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
	and (min-device-width: 375px)
	and (-webkit-min-device-pixel-ratio: 3) {
	
};
